<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.PostMediaMapper">

    <resultMap id="BaseResultMap" type="com.utm.what2do.model.entity.PostMedia">
            <id property="id" column="id" />
            <result property="post_id" column="post_id" />
            <result property="type" column="type" />
            <result property="url" column="url" />
            <result property="order_index" column="order_index" />
            <result property="created_at" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,post_id,type,url,order_index,created_at
    </sql>
</mapper>
